body {
  background-color: #04a6eb;
  color: #ffffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button {
  color: #ffffff;
  padding: 5px 20px;
  background-color: #337ab7;
  border-style: none;
}

input {
  height: 20px;
}
